/*Text Decoration*/

/*RESETTING*/
*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
}
/**/

body{
    padding: 35px;
    font-family: Georgia, Times, serif;
    color: #373737
}

h1,h2,h3,h4,h5,h6{
    margin: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.6em;
}
h3{
    font-size: 1.2em;
    letter-spacing: 4px;
    text-indent: 5px;
    line-height: 3em;
}

span{
    text-decoration: line-through;

}
em{
    text-transform: capitalize;
}
strong{
    text-transform: uppercase;
    font-weight: 600;
}

/*end of text decoration*/


/* CSS Borders */
#x{
    background-color: #FFFF9F;
}
.border_box{
    background-color: #FFDD00;
    margin: 0 0 20px;
    padding: 30px;
    width: 320;
    text-align: center;
}
#box1{border: solid 2px #5E00CF;}
#box2{border: dashed 2px #5E00CF;}
#box3{border: dotted 2px #5E00CF;}
#box4{border: double 4px #5E00CF;}
#box5{border: solid 4px #5E00CF;}
#box6{border: dashed 4px #5E00CF;}
#box7{border: dotted 4px #5E00CF;}
#box8{border: double 6px #5E00CF;}
}

/* Background Images Example */
.background-example{
    height: 300px;
    width: 300px;
    border: solid 1px 5E00CF;
}

