body{
    background-color: blanchedalmond;
}
h1{
    font-size: 50px;
    color: darksalmon;
    text-align: center;
}
p{
    font-style: bold;
    color: chocolate;
}
ol{
    margin: 20px;
    color: chocolate;
}

body#id_classes{
    background-color: blanchedalmondx;
}

#h1_title{
    color:coral;
    margin: 10px;
    text-align: center;
}

.h2_heading{
    color:burlywood;
    text-align: center
}

.content{
    color:darkred;
    text-align: center;
    font-size: 1.3em;
}

.primary_box{
    background-color:floralwhite;
    border: solid 10px salmon;
    padding: 20px;
    margin: 6px;
}

.secondary_box{
    background-color:floralwhite;
    border: solid 10px salmon;
    padding: 20px;
    margin: 6px;
}

 .primary_box em{
    color:dimgray
}
.primary_box p em{
    color:blueviolet
}






