body{
    background-color: blanchedalmond;
}
h1{
    font-size: 50px;
    color: darksalmon;
    text-align: center;
}
p{
    font-style: bold;
    color: chocolate;
}
ol{
    margin: 20px;
    color: chocolate;
}

body#id_classes{
    background-color: blanchedalmondx;
}

#h1_title{
    color:coral;
    margin: 10px;
    text-align: center;
}

.h2_heading{
    color:burlywood;
    text-align: center
}

.content{
    color:darkred;
    text-align: center;
    font-size: 1.3em;
}

.primary_box{
    background-color:floralwhite;
    border: solid 10px salmon;
    padding: 20px;
    margin: 6px;
}

.secondary_box{
    background-color:floralwhite;
    border: solid 10px salmon;
    padding: 20px;
    margin: 6px;
}

.primary_box em{
    color:dimgray
}
.primary_box p em{
    color:blueviolet
}

/*grouping selector*/
/*when you wanna select multiple elements in same css line*/
.primary_box2, .secondary_box2{
    background-color:floralwhite;
    border: solid 10px #8593ba;
    padding: 20px;
    margin: 6px;
}

h1,h2,h3,h4,h5,h6,p{
    text-align: center;
    border-bottom: solid 2px #8593ba;
    color:blueviolet;
    padding: 0 0 10px;
}

#main_container{
    width: 960px;
    margin: auto;
}


